@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-weight: 300;
    font-size: 300;
    font-family: 'Poppins', sans-serif;
}
.searchResults{
    font-size: 45px;
}
.btn{
    cursor: pointer;
    font-family: inherit;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 65px;
    margin-bottom: 1rem;
    color: #89078d;
}
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 00 auto;
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-btn, .search-control{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: none;
    background-color: #F8F7F5;
    color: #989898;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.search-control::placeholder{
    color: #989898;
}
.search-btn{
    width: 135px;
    height: 50px;
    font-size: 16px;
    background-color: #F06C4E;
    color: #fff;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: all 0.4s linear;
}
.search-btn:hover{
    background: #b42403;
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background-color: #F06C4E;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2px;
    transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: #b42403;
} 
/* meal details */
.meal-details{
    position: fixed;
    top: 50px;
    left: 300px;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
    background: #F06C4E;
    border-radius: 2px;
    width: 90%;
    height: 75%;
}
/* js related */
.showRecipe{
    display: block;
}
.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2px;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: #F06C4E;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: #F06C4E;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}